@import "Header.css";
@import "Main.css";
@import "Footer.css";
@import "ModalMolla.css";
@import "Checkout.css";
@import "Animation.css";
@import "DetailProduct.css";

@import "Account.css";
@import "Spinner.css";

@import "Tabs.css";
@import "NotFound.css";

@import "style.css";
@import "responsive.css";

.toast-custom {
  background-color: #c96 !important;
  border-radius: 0.5rem !important;
  min-height: 55px !important;
  padding: 10px 25px !important;

  font-size: 1.6rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slick-track {
  margin-left: -12px !important;
  margin-right: -12px !important;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
}
.slick-dots {
  margin: 15px !important;
  bottom: 0 !important;
  position: relative !important;
}

.pagination {
  border-radius: 0;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: center !important;
  display: flex;
  list-style: none;

  padding-left: 0px;
}
.page-link-prev,
.page-link-next,
.page-link {
  border-radius: 0.3rem;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 10px 8px;
  cursor: pointer;
}

.page-link-prev:hover,
.page-link-next:hover {
  border: 0.1rem solid #eae7de;
}
.page-link {
  border: 0.1rem solid #eae7de;
}
.page-link--active {
  color: #c69;
}
.page-link--disabled {
  pointer-events: none;
  color: #e0e0e0;
  cursor: none;
  background-color: #fff;
  border-color: transparent;
}
