.main {
  box-sizing: content-box;
}
.intro {
  background: #fafafa;
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 0px;
}
.carousel__text {
  z-index: 2;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.carousel__title > h3 {
  font-size: 2.2rem;
  margin: 0;

  font-weight: 300;
}
.carousel__title > h1 {
  margin: 0;
  font-size: 4.2rem;
  font-weight: 700;
}
.carousel__btn {
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.6rem;
  height: 46px;
  width: 160px;
  text-align: center;
  line-height: 48px;
  color: #fff;
  background-image: none;
  box-shadow: none;
  border: #fff solid 1px;
}
.carousel__btn i {
  margin-left: 15px;
}
.carousel__btn:hover {
  background: #c96;
}
.btn-outline-orange:hover {
  color: white;
  background: #c96;
}
.btn-outline-orange > i {
  margin-left: 6px;
}
.btn-outline-orange {
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1.4rem;

  text-align: center;
  line-height: 48px;

  border: #fff solid 1px;
  display: inline;
  padding: 10px 20px;
  color: #c96;
  background-color: transparent;
  background-image: none;
  border-color: #c96;
  border-top-color: #c96;
  border-right-color: #c96;
  border-bottom-color: #c96;
  border-left-color: #c96;
  box-shadow: none;
}
.btn-outline-white {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #fff;
  border-top-color: rgb(255, 255, 255);
  border-right-color: rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-left-color: rgb(255, 255, 255);
  box-shadow: none;
}

.intro-2 {
  filter: drop-shadow(0 0 10px #0003);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://d-themes.com/react/molla/demo-2/assets/images/home/banners/intro/banner-1.jpg);
  position: relative;
  cursor: pointer;
  flex: 1;
}
.intro-3 {
  margin-top: 25px;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url(https://d-themes.com/react/molla/demo-2/assets/images/home/banners/intro/banner-2.jpg);
  position: relative;
  cursor: pointer;
  flex: 1;
}
.intro-2-btn {
  max-width: 157px;
  padding: 0 13px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-2__text {
  color: #fff;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.intro-2__title > h3 {
  font-size: 1.6rem;
  margin: 0;

  font-weight: 300;
}
.intro-2__title > h1 {
  margin: 0;
  font-size: 2.2rem;
  line-height: 2.8rem;
  font-weight: 600;
}

.intro-2:hover .intro-overlay {
  opacity: 1;
  visibility: visible;
}
.intro-3:hover .intro-overlay {
  opacity: 1;
  visibility: visible;
}
.intro-overlay {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(51, 51, 51, 0.4);
  transition: all 0.35s ease;
}

@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  min-height: 450px;
  width: 100%;
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
.flex-intro-23.col.l-4.m-0.c-12 {
  display: flex;
  height: 450px;
  justify-content: space-between;
  flex-direction: column;
}
.carousel__slide {
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
}
.slide1 {
  background-image: url(https://d-themes.com/react/molla/demo-2/assets/images/home/sliders/slide-1.jpg);
}
.slide2 {
  background-image: url(https://d-themes.com/react/molla/demo-2/assets/images/home/sliders/slide-2.jpg);
}
.slide3 {
  background-image: url(https://d-themes.com/react/molla/demo-2/assets/images/home/sliders/slide-3.jpg);
}
.carousel__slide:nth-child(even) {
  background-color: #99f;
}

.carousel__slide:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 160px;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 29.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

.brand-ads {
  overflow: hidden;
  overflow-x: scroll;
}
.brand-ads > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.brand-ads > ul > li {
  display: flex;
  align-items: center;
  margin-top: 23px;
  margin-bottom: 0;
}
body > main > div > div > div.row {
  max-height: 460px;
}

/* Trendy Products */
.product-area {
  margin-top: 34px;
}
.trendy-product > div {
  border-bottom: #ebebeb solid 1px;
  position: relative;
}

.trendy-product__title {
  margin-top: 34px;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 500;
}
.trendy-product__menu {
  padding: 0;
  font-size: 1.5rem;
  justify-content: center;
  display: flex;
}
.trendy-product__menu > li {
  cursor: pointer;
  margin: 0 10px;
  padding: 0 5px;
  transition: all 0.2s linear;
}
.trendy-product__menu > li:hover {
  color: #c96;
}
.showing {
  border-bottom: #c96 solid 1px;
}
.product-item {
  transition: box-shadow 0.35s ease;
  position: relative;
  padding-bottom: 5px;
}
.add-to-cart-btn-product-item {
  position: unset;
  margin-bottom: 10px;
  transform: initial;
  width: 80%;
  margin: 0 auto;
  font-size: 1.2rem;
}
.product-item:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.07);
}
.product-item:hover .add-to-wishlish-icon {
  transform: translateX(0px);
}
.blog.intro {
  padding-top: 10px;
}

.product-item > img {
  width: 100%;
  min-width: 282px;
  min-height: 282px;
}
.product-item > .product-image-hover {
  display: none;
}
.product-item:hover .product-image-hover {
  display: block;
}
.product-item:hover .product-image {
  display: none;
}
.product-item:hover .add-to-cart-btn {
  opacity: 1;
  transform: translate(-50%, 30%);
}

.brief-describe {
  padding: 16px 30px;
  text-align: center;
  transition: all 0.2s linear;
}
.brief-describe .type {
  font-size: 1.4rem;
  color: #969696;
  cursor: pointer;
}
.brief-describe .type:hover {
  color: #c96;
}
.brief-describe__titile-price {
  color: #6c6c6c;
  font-size: 1.8rem;
  overflow: hidden;
  height: 2rem;
  line-height: 2rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.2s linear;
}
.brief-describe__titile-price:hover {
  color: #c96;
}
.active-star {
  color: #fcb941;
}
.star {
  font-size: 1.2rem;
  color: #cccccc;
}
.product-label {
  cursor: default;
  z-index: 3;
  font-size: 1.3rem;
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 5px 8px;
}
.product-label--red {
  background: #ef837b;
}
.product-label--green {
  background: #a6c76c;
}
.add-to-wishlish-icon {
  cursor: pointer;
  z-index: 4;
  background: #fff;
  top: 15px;
  right: 15px;
  position: absolute;
  transform: translateX(-15px);
  height: 30px;
  width: 30px;
  color: #333;
  border: 0.1rem solid #ebebeb;
  border-radius: 50%;
  transition: all 0.35s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.add-to-wishlish-icon:hover {
  background: #c96;
  color: white;
}
.btn-white {
  text-transform: uppercase;
  color: #333;
  border: 0.1rem solid #ebebeb;
  color: black;

  padding: 0.8rem 1.6rem;
  background: white;
}
.load-more-btn {
  margin: 30px 0;
  padding: 1rem 2.5rem;
  cursor: pointer;
  font-size: 1.4rem;
  display: inline-block;
  color: #333;
  background-color: transparent;
  background-image: none;
  border: 1px solid #d7d7d7;
  transition: all 0.2s ease-in;
}
.load-more-btn i {
  margin-left: 10px;
}
.load-more-btn:hover {
  background: #c96;
  color: #fff;
}
.add-to-cart-btn {
  opacity: 0;
  font-weight: 500;
  font-size: 1.5rem;
  position: absolute;
  max-width: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  cursor: pointer;
  transition: all 0.5s ease;
  animation: fadeIn 1s linear;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.num-review {
  margin-left: 4px;
}

/* by cate */
.product-by-cate-area {
  height: max-content;
}
.product-by-cate-area-item {
  position: relative;
  width: 100%;
}
.product-by-cate-area-item-background img {
  width: 100%;
}
.col-list-item {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}
.product-by-cate-area-item:hover .intro-overlay {
  opacity: 1;
  visibility: visible;
}
.product-by-cate-area-item__btn {
  font-size: 1.8rem !important;
  font-weight: 400 !important;
  opacity: 0;
}
.product-by-cate-area-item:hover .product-by-cate-area-item__title {
  transform: translate(-50%, -120%);
}
.product-by-cate-area-item:hover .product-by-cate-area-item__btn {
  transform: translate(-50%, 20%);
  opacity: 1;
}

.product-by-cate-area-item__title,
.product-by-cate-area-item__btn {
  z-index: 4;
  transition: all 0.35s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

.more-container {
  text-align: center;
}
.unactive {
  display: none;
}
.our-features {
  margin: 30px 0;
}
.our-features-item {
  text-align: center;
}
.our-features-item__title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.our-features-item__title i {
  margin: 10px 0;
  font-size: 2.8rem;
}
.our-features-item__description {
  font-size: 1.4rem;
  letter-spacing: 0;
  color: #777;
  font-weight: 300;
}
.blog-item {
  text-align: center;
}
.blog-item img {
  width: 100%;
  object-fit: cover;
}
.time_stamp {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 10px 0;
}
.blog-item__title {
  font-size: 1.9rem;
  font-weight: 500;
  margin: 0px;
}

.blog-item__description {
  margin: 5px 20px;
  line-height: 1.6rem;
  height: 3.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999999;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.sign-up-banner {
  background-image: url(https://d-themes.com/react/molla/demo-2/assets/images/backgrounds/cta/bg-6.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  height: fit-content;
  padding: 45px 210px;
  text-align: center;
}
.sign-up-banner__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sign-up-banner__left-title {
  font-size: 2.5em;
  font-weight: 600;
}
.sign-up-banner__left-subtitle {
  font-size: 2em;
  font-weight: 300;
  margin: 0;
}
#scroll-top {
  width: 5rem;
  height: 5rem;
  position: fixed;
  right: 50px;
  bottom: 128px;
  z-index: 999;
  color: #cccccc;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  border: none;
  background-color: #fafafa;
  font-size: 3rem;
  transition: all 0.9s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

  outline: none;
  cursor: pointer;
}
.show {
  opacity: 1 !important;
  visibility: visible !important;
  transition: all 0.9s ease;
}
