.modal-molla {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
.modal-sidebar--hidden {
  opacity: 0 !important;
  visibility: hidden !important;
  transition: all 0.8s linear !important;
  animation: slideOut 0.8s ease 0.01s forwards !important;
}

@keyframes slideOut {
  from {
    transform: translate(0%, 0%);
  }
  to {
    transform: translate(300px, 0%);
  }
}
.modal-sidebar-wrap {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;

  overflow: hidden;
}

@keyframes slide {
  from {
    transform: translate(300px, 0%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
.modal-molla__overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(77, 77, 77, 0.6);
}
.modal-sidebar {
  position: absolute;
  max-width: 575px;
  width: 300px;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  animation: slide 0.8s ease 0.01s forwards;
}
.modal-sidebar__container {
  padding: 40px 10px;
  position: relative;
}
.modal-sidebar i {
  position: absolute;
  cursor: pointer;
  font-size: 1.6rem;
  position: absolute;
  top: 10px;
  right: 13px;
}
.list-sidebar-menu {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 1.6rem;
}

.list-sidebar-menu li {
  height: 40px;
  color: #777;
  cursor: pointer;
  text-transform: uppercase;
}
.modal-auth {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10000;
  max-width: 575px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s, transform 0.5s;

  background-color: #fff;
}
.modal-view-cart {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10000;
  max-width: 575px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s, transform 0.5s;

  background-color: #fff;
}
.modal-auth__container,
.modal-sidebar__container {
  position: relative;
  padding: 40px 60px;
}

.modal-view-cart__container {
  text-align: center;
  position: relative;
  padding: 10px 20px;
  animation-name: example;
  animation-duration: 1s;
}

@keyframes example {
  0% {
    left: 0px;
    top: 15px;
  }

  100% {
    left: 0px;
    top: 0px;
  }
}
.modal-auth__close-btn {
  cursor: pointer;
  font-size: 1.6rem;
  position: absolute;
  top: 10px;
  right: 13px;
}
.modal-auth__tab {
  margin-bottom: 20px;
  display: flex;
  color: #c96;
  transition: all 0.35s ease;
  font-size: 2.5rem;
}
.modal-auth__tab span {
  padding: 10px 60px;
  border-color: #d7d7d7;
  border-width: 2px;
  border-bottom-color: rgba(51, 51, 51, 0.4);
  border-bottom-style: solid;
  cursor: pointer;
}
.modal-auth__tab--active {
  border-bottom-color: #c96 !important;
}
.form-group {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 10px 0;
}
.label-input {
  margin: 10px 0;
}
.form-group__input {
  height: 40px;
  padding: 0.85rem 2rem;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 300;
  color: #777;
  margin-bottom: 15px;
  background-color: #fafafa;
  border: 1px solid #ebebeb;
  border-radius: 0;
  transition: all 0.3s;
  box-shadow: none;
  width: 100%;
  outline: none;
}
.login-row,
.remember-me {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  font-weight: 300;
  justify-content: space-between;
  cursor: pointer;
}
.remember-me input,
.remember-me label {
  cursor: pointer;
}
.view-cart-info {
  padding: 10px 100px;
  color: #888;
  font-size: 1.8rem;
  text-align: center;
}
.view-cart-info__heading {
  font-size: 2.4rem;
  font-weight: 400;
}
#modal-view-cart {
  display: block;
}
.continue-btn {
  padding: 10px 20px;
}
.modal-view-cart__bottom {
  margin-top: 20px;
  justify-content: center;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
.viewcart-btn {
  background: #c96;
  color: white;
}
.viewcart-btn:hover {
  background: white;
  color: #c96;
}
.img-sticky-top {
  position: absolute;
  top: -50px;
  left: 10px;
  max-width: 100px;
}
.img-sticky-top img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.overlay-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 200ms;
  visibility: visible;
  opacity: 1;
}
