.notfound-wrapper {
  background-repeat: none;
  background-size: cover;
  background-position: center;
  text-align: center;
  min-height: 500px;
  padding-top: 25px;
}
.error-title {
  margin-bottom: 0;
  font-size: 5rem;
  font-weight: 700;
}
.notfound-wrapper p {
  font-size: 2rem;
}
div.notfound-wrapper > div > a {
  color: #c96;
}
div.notfound-wrapper > div > a:hover {
  color: white;
}
