$primary_color: #c96;
.checkout-containter {
  .wrapper-prod {
    margin-top: 30px;
    font-size: 1.4rem;
  }
  .filter-bar > table,
  .filter-bar > table > tbody {
    tr:not(:first-child):not(:nth-child(2)) {
      display: table-row;
    }
    tr {
      th {
        font-weight: 300 !important;
      }
      th:nth-child(1) {
        width: 80%;
      }
      th:nth-child(2) {
        text-align: right;
        span {
          border-radius: 50%;
          background: #f8f8f8;
          padding: 5px;
        }
      }
    }
    tr:nth-child(1) {
      th:nth-child(2) {
        color: $primary_color;
        cursor: pointer;
      }
    }
  }

  .filter-bar > table,
  .filter-bar > table > tbody > tr {
    height: 40px;
    width: 100%;
    text-align: left;
    font-weight: 300 !important;
  }
  .filter-bar > table,
  .filter-bar > table > tbody > tr:nth-child(1) {
    height: 50px;
    width: 100%;
    font-weight: 300 !important;

    text-align: left;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }

  .filter-checkbox input {
    // position: absolute;
    // opacity: 0;
    // cursor: pointer;
    // height: 0;
    // width: 0;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .filter-checkbox input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .filter-checkbox .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .filter-checkbox:hover input ~ .checkmark {
    background-color: #c1bdbd;
  }

  /* When the checkbox is checked, add a blue background */
  .filter-checkbox input:checked ~ .checkmark {
    background-color: #c1bdbd;
    border: 1px solid #dadada;
  }

  .filterd-product__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
    .select-custom {
      margin-left: 15px;
      display: inline-block;
    }
  }

  .filterd-product__item {
    display: flex;
    justify-content: space-around;
    font-weight: 300;
    box-shadow: none;
    padding-top: 18px;
    border-bottom: 0.1rem solid #ebebeb;
    &:nth-child(1) {
      margin-top: -26px;
    }
  }
  .btn-dropdown-category {
    cursor: pointer;
  }
  .thumbnail-image img {
    max-width: 100%;
  }
  .short-description h4,
  .short-description h3,
  .price-and-action h3 {
    margin: 0;
    font-weight: 300;
    color: #000;
  }
  .short-description h3,
  .price-and-action h3 {
    font-weight: 400;
  }
  #warapper-description,
  #wrapper-price {
    display: flex;
    align-items: center;
  }
  .price-and-action {
    position: relative;
    width: 100%;
    .bot {
      position: relative;
    }
    .star {
      margin: 10px 0px;
    }
    h3 {
      color: #c96;
    }
  }
  .description {
    color: #777;
  }
  b {
    font-weight: 600;
  }
  .add-to-wishlist-btn {
    color: #777;
    margin-top: 6px;
    cursor: pointer;
  }
  .filter-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
