.tab-list {
  padding-left: 0;
  width: 100%;
  text-align: center;
}

.tab-list-item {
  display: inline-block;
  cursor: pointer;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  color: #c96;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}
.tab-content {
  font-size: 1.4rem;
  font-weight: 300;
  border: 1px solid #ccc;
  padding: 15px;
}
.tab-content h3 {
  margin: 0;
  font-weight: 400;
}
.tab-content p {
  color: #777;
  font-weight: 300;
}

.tab-heading {
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 1.6rem;
}
